.register_container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
  background-color: #00ced1;
  min-width: 350px;
  width: 30%;
  border-radius: 18px;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  display: flex;
  flex-direction:row;
  align-items: center;
}

.input_field{
  height:45px;
  width:250px;
  margin:.5cm;
  border-radius: 8px;
  border: none;
  padding: 0 8px;
  font-size: medium;
}

.submit_panel{
  display: flex;
  flex-direction:column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.submit{
  margin-left: 30%;
  margin-right: 30%;
  cursor: pointer;
  font-size: large;
  font-weight:500;
  color: black;
  border-radius: 10px;
  height:50px;
}

.submit:hover {
  background-color: wheat;
}

.header{
  font: 4em sans-serif;
  padding: 10px;
  color: white;
  margin: .5cm;
}

.img_icon{
  width:45px;
  margin:.1cm;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;  
}
